Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libvmod_header.la
src/vcc_if.c
src/vcc_if.h
src/vcc_if.lo
src/vcc_if.o
src/vmod_header.lo
src/vmod_header.o
stamp-h1
vmod_header.3
